// Colors
$grey: #333333;
$blue: #B5D0E2;
$dark-blue: #2099E8;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaa;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
